{% extends "index.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Nosotros</title>

			<!-- Custom styles for this template go here -->
				<link rel="stylesheet" href="css/about_styles.css">

			<!--[if lt IE 9]>
			<script src="dist/html5shiv.js"></script>
			<![endif]-->			
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h1>Sobre nosotros</h1>
			</div><!-- end header-->
			
			<div class="intro column">
				<h2>Introducción</h2>
				<p>
					Somos Juan Ignacio Bisello, Juan Francisco Calo y Julián Rametta, y conformamos un grupo para el desarrollo de prácticos para la cursada "Python" de la plataforma CoderHouse
				</p>
			</div><!-- end intro-->
			<div class="skills column">
				<h3>Habilidades aprendidas</h3>
				<ul id="skill-list">
					<li>Python</li>
					<li>Desarrollo web</li>
					<li>Trabajo en equipo con Git</li>						
					<li>Frontend con html y css</li>
				</ul><!--end skill-list-->
			</div><!-- end skills-->
			<div class="main-text">
				<h4>Mas información</h4>
				<p>
					Buscamos a través del curso adherir las herramientas antes mencionadas a nuestra formación.
				</p>
				<p>
                    <!--Aca se puede agregar mas información-->
				</p>
			</div><!-- end main-text-->
		</div><!--end container-->
	</body>
</html>
{% endblock %}